@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@400&display=swap");
@import url("http://fonts.googleapis.com/earlyaccess/notosansjp.css");
body {
    background: #ccc;
    font-family: "Noto Sans JP", sans-serif;
}

h1 {
    border-left: 0.15em solid !important;
    padding-left: 0.2em;
}
