@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap");

/*******************************
     User Global Variables
*******************************/
:root {
    --teal: #00b5ad;
    --gray:#333333;
}

body {
    background: #ccc;
    font-family: "Noto Sans JP", sans-serif !important;
}

/* ヘッダー */
.ui.menu .item {
    padding-block: 0.8rem !important;
}

.navbar-brand {
    font-size: 1.8rem;
    font-family: "Exo 2", sans-serif;
    background-image: linear-gradient(to top right, #1e50a2 0%, #d43f8d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    vertical-align: top;
    font-weight: 400;
    padding-left: 0.5rem;
}
.ui .header {
    font-family: "Noto Sans JP", sans-serif !important;
    padding-block: 0.8rem;
}

#main>.ui.header {   
    color:var(--gray) !important;
}

.ui.form .field>label {
    color:var(--gray) !important;
    font-weight: 500 !important;
}
/* 余白 */
.mt-1 {
    margin-top: 1rem !important;
}

.mt-2 {
    margin-top: 2rem !important;
}

.mt-3 {
    margin-top: 3rem !important;
}

.mr-half {
    margin-right: 0.5rem;
}

.mr-1 {
    margin-right: 1rem;
}

.mr-2 {
    margin-right: 2rem;
}
.ml-1 {
    margin-left: 1rem !important;
}

.ml-half {
    margin-left: 0.5rem !important;
}

.mb-1 {
    margin-bottom: 1rem !important;
}


.text-center {
    text-align: center;
}
.pl-2 {
    padding-left: 2em !important;
}

.ui.table tbody tr td.selectable {
    cursor: pointer;
}


/* ロード中のアイコン */
.loader,
.loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}
.loader {
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(29, 27, 27, 0.2);
    border-right: 1.1em solid rgba(29, 27, 27, 0.2);
    border-bottom: 1.1em solid rgba(29, 27, 27, 0.2);
    border-left: 1.1em solid #1d1b1b;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}

.tiny img.image {
    margin: 0 auto;
    max-width: 400px;
}

.ui.table tbody tr td.selectable>a:not(.ui) {
    color: var(--teal)!important;
}

label.hidden {
    visibility: hidden;
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
